/* ############ Default ########3*/

nav, header, footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}


.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex: wrap;
    align-items: center;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
} 


/* #########  navbar ############### */

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0; 
}

ul.topnav li {
    list-style: none;
    float: left;

}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: #fff;
}

ul.topnav li.dropDownMenu {
    display: none;
}


/* ##### custom style ####### */

#section-1-gradient {
    background: #076DFF;
    background: -webkit-linear-gradient(#076DFF, #65a5ff);
    background: -o-linear-gradient(#076DFF, #65a5ff);
    background: -moz-linear-gradient(#076DFF, #65a5ff);
    background: linear-gradient(#076DFF, #65a5ff);
}

.left-side-col {
    margin-left: 30%;
    
}

h1.large {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2 {
    color: #fff;

}


.inputbox[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
}


/* ######## MOBILE STYLE */

@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav li.dropDownMenu {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropDownMenu {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;

    }
}